:root{
}
*{
    margin:0
}
body{
    font-family: "Poppins",sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    padding: 0 8px;
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-weight: 500;
}